<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <h1>Postage Calculator</h1>
    <form action="">
        Item weight:<br>
        <input type="text" name="weight"><br>
        <input type="radio" name="mail_type" value="stamped" checked>Stamped Letter<br>
        <input type="radio" name="mail_type" value="metered">Metered Letter<br>
        <input type="radio" name="mail_type" value="flat">Large Envelope<br>
        <input type="radio" name="mail_type" value="package">Retail First-class Package<br>
        <input type="submit">
    </form>
</body>

</html>
