<!DOCTYPE html>
<html>

<head>
    <title>Postage Calculation Result</title>
</head>

<body>
    <h1>Postage Calculation Result</h1>
    <p>The price for a <%= type %> weighing <%= weight %> ounces is: $<%= result %>.</p>
</body>

</html>
